@charset "UTF-8";

*{
    margin: 0;padding: 0; box-sizing: border-box;
    /* border: 1px solid black; */
}
.Clearfix{
    content: ""; display: block; clear: both;   
}
.Flex_aic{
    display:flex; align-items: center;
}
a:link, a:visited{
    text-decoration: none; color: black;
}
li{
    list-style-type: none;
}
body{
    padding-left: 240px;
    background-color: white;
}

/*왼쪽메인로고@@@@*/
.Fixbox{
    position: fixed;
    width: 240px;
    height: 100%;
    left: 0;
    border-right: 1px solid #EDEDF4;
    box-shadow: 1px 0px 30px #a79f9f;
    z-index: 9999999;

}
.Bigbox{
    height: 100%;
    padding: 70px 25px;
    background-color: white;
}

.logo{
    width: 180px;
    height: 40px;
    margin-bottom: 70px; 
}
.logo img{
    padding-left: 10px;
    width: 100%;
    height: 100%;
}

.Loginbox{
    width: 190px;
    height: 94px;
    border-top:  1px solid #EDEDF4;
    border-bottom:  1px solid #EDEDF4;
    padding: 20px 19px;
    margin-bottom: 58px;
}
.Login:link, .Login:visited, .Loginmenu a:link ,.Loginmenu a:visited{
    color: #7e7e7e;
}
.Login img{
    width: 27px;
    height: 30px;
}
.Login div{
    padding-left: 10px;
    font-weight: 600;
    font-size: 12px;
}
.Loginmenu{
    font-size: 10px;
    padding: 12px 0;
}
.fc_gray{
    color: #9e9e9e;
    padding: 0 5px;
    
}
.fc_red{
    padding-left: 5px;
    color: #c53636;
}

.menubox{
    width: 100%;
    height: 230px;
    font-size: 13px;
    font-weight: 500;
    padding: 0 15px;
}

.menu{
    position: relative;
    padding-bottom: 28px;
    transition: 0.5s;
    left:0;
}
.menu:link, .menu:visited{
    font-size: 13px;
    font-weight: 600;
    color: rgba(66,66,66,.95);
}
.menu:last-child{
    padding-bottom: none;
}

.menu div{
    padding: 0 5px 0 15px ;
}
.menu .radius{
    background-color: #b1b1b1fe;
    border-radius: 200px;
    opacity: 0.4;
    width: 27px;
    height: 12px;
    line-height: 12px;
    font-size: 10px;
    color: rgba(66,66,66,.95);
    text-align: center;    
}

/*상단이미지라인@@@@@@*/
/*메인메뉴의미들메뉴입니다@@@@@@@@@*/
.Mainbox{
    width: 1398px;
    margin: 0 auto;
    padding: 60px 30px 110px 30px;
}
.Mainmenu{
    width: 100%;
    height: 776.08px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.leftside{
    width: 880px;
}
.leftside .top{
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
}
.Mainbox .fw_left{
    color:#2f2f2f;
    font-size: 24px;
    font-weight:  900;
}
.Mainbox .fw_right{
    color:rgba(0,0,0,.6);
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 0.3s;
}
.Mainbox .fw_right span{
    color:rgba(0,0,0,.8);
    font-weight: 600;
    font-size: 15px;
}

.leftside .fourmenu{
    height: 354px;
}

.leftside .leftbox{
    display: flex;
    justify-content: space-between;
}
.leftside .bigimagebox{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    bottom: 0;
    transition: 0.2s;
}
.leftside .bigimagebox:after{
    position: absolute;
    background:linear-gradient(to top, rgb(0, 0, 0,1) 15%,rgba(0, 0, 0, 0));
    bottom: 0;
    width: 100%;
    height: 40%;
    content: "";
    display: block;
}
.leftside .mainimage{
    width: 202px;
    height: 240px;
    position: relative;
    top: 0;
    left: 0;
}
.leftside .subimage{
    position: absolute;
    width: 75px;
    height: 44px;
    left: 25px;
    bottom: 18px;
    z-index: 99;
}


.leftside .shadowbox{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 99;
}

.leftside .hiddenimage{
    width: 150px;
    height: 88px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)translateY(-50%);
    z-index: 9999;
    opacity: 0;
}
.leftside .hiddenword{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 70%;
    opacity: 0;
    z-index: 9999;
}



.leftside .bottombox{
    display: flex;
    padding-top: 17px;
}
.leftside .bottombox .leftimage{
    overflow: hidden;
    border-radius: 8px;
    width: 44px;
    height: 44px;
}
.leftside .bottombox .leftimage img{
    width: 44px;
    height: 44px;
}
.leftside .bottombox .wordbox{
    padding-left: 12px;
    color: #212121;
    font-size: 14px;
    font-weight: 600;
}
.leftside .lfc_gray{
    font-size: 12px;
    opacity: 0.4;
    font-weight: normal;
}

/*main의 rightside입니다@@@@@@@@*/
.rightside{
    width: 368px;
}
.rightside .top{
    padding-bottom: 30px;
}
.rightside li{
    margin-top: 20px;
}
.rightside li:first-child{
    margin-top: 0;
}
.rightside .halfmenu{
    position: relative;
    display: flex;
    align-items: center;
    height: 114px;
    border-radius: 6px;
    background-color: #F8FAFC;
    overflow: hidden;
    bottom: 0;
    transition: 0.2s;
}

.rightside .pdbox{
    padding: 0 30px;
}
.rightside .rfc_black{
    color: #2e2e2e;
    font-size: 16px;
    font-weight: 600;
}
.rightside .rfc_gray{
    color: #929292;
    font-size: 14px;
}

/*메인메뉴밑에 그림+메뉴입니다@@@@@@*/

.Middlemenu .at_img{
    width: 971px;
    height: 406px;
    overflow: hidden;
}
.Middlemenu .at_img img{
    transition: 0.3s;
}
.Middlemenu .gamelist{
    width: 368px;
    height: 406px;
    background-color: #1E2023;
    padding-left: 45px;
}

.Middlemenu .head{
    padding: 40px 0 40px 0;
    color: #fff;
    font-size: 20px;
    font-weight: 600;

}
.allgame li{
    width: 102px;
    height: 30px;
    line-height: 30px;
    color: #cccccc;
    font-size: 12px;
    cursor: pointer;
}

/*홀리데이입니다@@*/

.holiday{
    margin-top: 30px;
    font-size: 12px;
    color: #171717;
    opacity: 0.6;
}
.holiday a{
    margin-left: 10px;
}

/*Hover@@@@@@@@@@@@@@@@@@@@@*/

.menu:hover{
    left: 10px;
}
.fw_right:hover{
    right: -10px;
}

.bigimagebox:hover ,.halfmenu:hover{
    bottom: 11px;
    box-shadow: 0px 15px 25px rgba(1, 1, 48, 0.3);
}
.bigimagebox:hover a{
    opacity: 1;
}
.bigimagebox:hover:after {
    background:linear-gradient(to top, rgb(0, 0, 0,1) 30%,rgba(0, 0, 0, 0.3));
    height: 100%;
    z-index: 999;
    opacity: 1;
}
.at_img:hover>img{
    transform: scale(1.05);
}
.allgamebox li:hover{
    color: #5D8EFF;
}

/*상단 탑 이미지효과 전체@@@@@@@*/
.Topbox{
    width: 100%;
    min-width: 1500px;
    height: 430px;
    position: relative;
}
.Topbox img,.Topbox>.blankbox{
    width: 100%;
    height: 100%;
    position: absolute;
}
.Topbox .blankbox{
    z-index: 11111;
    opacity: 0;
    cursor: pointer;
}
.Topbox .a1{
    z-index: 10;
}
.Topbox .a2 , .Topbox .gage2:after{
    z-index: 1;
    transition-delay: 3s;
}
.Topbox .a3 , .Topbox .gage3:after{
    z-index: 1;
    transition-delay: 6s;
}
.Topbox .a4 , .Topbox .gage4:after{
    z-index: 1;
    transition-delay: 9s;
}
.Topbox .a5 , .Topbox .gage5:after{
    z-index: 1;
    transition-delay: 12s;
}
.blankbox:hover~img{
    z-index: 9998;
}

.longbox{
    position: absolute;
    z-index: 9999;
    bottom: 0;
    left: 160px;
    margin: 0 auto;
}
.shortbox{
    display: flex;
}
.shortbox li{
    width: 268px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.418);
    opacity: 0.7;
    cursor: pointer;
    position: relative;
    font-size: 13px;
    font-weight: 600;
}
.shortbox li:after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -3px;
    width: 0px;
    height: 64px;
    background-color: rgba(202, 202, 202, 0.336);
    opacity: 0.9;
    border-bottom:solid 3px #ff0000;
    transition: 3s;
}

.blankbox:hover~.longbox>.shortbox>li:after{
    width: 100%;
}

/*footer입니다@@@@*/
.footer{
    background-color:  #1E2023;
    width: 100%;
    min-width: 1500px;
    height: 349.45px;
    padding-top: 55px;
    padding-left:60px;
}
.footer .boxwrap{
    width: 1312px;
    height: 190.45px;
}
.footer .textbox1{
    justify-content: space-between;
    margin-bottom: 25px;
}
.footer .net{
    font-size: 27px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.979);
    cursor: pointer;
}
.footer .Familysite{
    line-height: 15px;
    cursor: pointer;
}
.footer .textbox2{
    margin-bottom: 25px;
    color: rgba(255,255,255,.5);
    font-size: 11px;
}
.footer .rightborder{
    border-right: 1px solid rgba(255,255,255,.5);
}
.textbox2 p{
    height: 8px;
    margin-bottom: 12px;
}

.footer .textbox3{
    margin-top: 40px;
}
.footer .textbox3 span{
    padding: 0 5px 0 0;
    color: rgba(255,255,255,.5);
    font-size: 12px;
    border-right: 1px solid rgba(255,255,255,.5);
    cursor: pointer;
}

.textbox3 .weight{
    font-weight: 600;
}


